{{- $gitName := promptStringOnce . "gitName" "Git user name" "gregorybeal" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git user email" "gbeal@gbeal.com" -}}
{{- $gitSigningKey := promptStringOnce . "gitSigningKey" "Git SSH signing key (leave blank to skip)" "" -}}
{{- $sshVariant := "unix" -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $sshVariant = "windows" -}}
{{- else -}}
{{-   $sshVariant = promptStringOnce . "sshVariant" "SSH config variant (unix/minimal)" "unix" -}}
{{- end -}}
[data]
    gitName       = {{ $gitName | quote }}
    gitEmail      = {{ $gitEmail | quote }}
    gitSigningKey = {{ $gitSigningKey | quote }}
    sshVariant    = {{ $sshVariant | quote }}
